<html>
 <head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/graphdracula/1.3.0/dracula.min.js"></script>




 </head>
 <body>
  <div id="canvas"></div>
<script>
$(document).ready(function() {


  var g = new Dracula.Graph();
    var width = $(document).width()+70;
  var height = $(document).height()+10;

var render = function (r, n) {
      var frame = r.rect(0 - 3*n.label.length,  -10, 6*n.label.length, 50);
      frame.attr({
          fill: n.Color, r: 9,
          'stroke-width': 2
      });
      /* the Raphael set is obligatory, containing all you want to display */
      var set = r.set().push(frame.attr({ fill: '#fcfcfc','fill-opacity': 1, 'stroke-width': 2, r: 9 }))
          .push(r.text(0,  10,n.label)).click(function () {
    console.log(n.id);
});
      return set;
  };


  $.ajax({
		type: 'GET',
        async: false,
		url: '/spacedetails/discover-deep-learning/content',
		data: {},
    dataType: 'json',
		success: function (response) {
            for ( var i = 0; i < response.nodes.length; i++ ) {
                g.addNode(response.nodes[i].id, {
                    label: response.nodes[i].title ,
                    /* filling the shape with a color makes it easier to be dragged */
                    render: render
                    });
            }
            for ( var i = 0; i < response.relations.length; i++ ) {
                g.addEdge(response.relations[i].source_content_id, response.relations[i].target_content_id, { directed : true });
            }
		},
		error: function (response) {
			alert(response["responseJSON"]["error"]);
		}
	})



var layouter = new Dracula.Layout.Spring(g);
  

  var renderer = new Dracula.Renderer.Raphael(document.getElementById('canvas'), g, width-100, height-50);
  layouter.layout();
  renderer.draw();
  });
</script>
 </body>
</html>